@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@plugin "daisyui" {
  themes: black --default;
}
@plugin "daisyui/theme" {
  name: 'black';
  default: true;
  --color-primary: #8e20d7;
  --color-secondary: #cc1c39;
  --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
}

* {
  font-family: 'Poppins', sans-serif;
}

nav a.active {
  border-bottom: 2px solid #8e20d7;
  color: #8e20d7;
  padding-bottom: 0.25rem;
}

nav a:hover {
  color: #8e20d7;
}
